p {
    display: inline;
}
a {
    color: black;
    text-decoration: none;
}
.logo {
    position: relative;
    left: 40px;
    top: 20px;
}
.header {
    margin-left: 50px;
    position: relative;
    left: 275px;
    bottom: 5px;
    font-size: 17px;
}
.line {
    border: 6px solid gray;
    border-width: 0.1px;
    height: 70%;
    position: relative;
    left: 260px;
    bottom: 5px;
}
.login {
    height: 40px;
    width: 75px;
    border-radius: 20px;
    position: relative;
    left: 1200px;
    top: -40px;
    background-color: white;
    border: 0.5px solid grey;
}
.login:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.pro {
    font-size: 30px;
    margin-left: 35px;
}
.duc {
    display: block;
}