p {
    display: inline;
}
a {
    color: black;
    text-decoration: none;
}
.logo {
    margin-top: 25px;
    margin-left: 10px;
}
.header {
    margin-left: 50px;
}
.process {
    margin-left: 200px;
}